*{
	box-sizing: border-box;
}

body{
	font-family: Arial;
	font-size: 14px;
	width: 1500px;
	background: #333;
	margin: 0px auto;
	padding: 0px;
}
.header img{
	width: 1500px;
	height: auto;
}
ul.root > li{
	list-style: none;
	text-align: center;
	display: block;
	float: left;
	padding: 14px 25px;
	background-color: #333;
	position: relative;
}
ul.root > li > a{
	text-decoration: none;
	color: #FFFFFF;
}
.MENU:after{
	clear: both;
	display: table;
	content: "";
}
.MENU ul.root{
	margin: 0px;
	padding: 0px;
}
#link4{
	float: right;
}
.MENU ul.root > li:hover{
	background-color: #CCC;
	transition: ease-in 0.2s;
	-moz-transition: ease-in 0.2s;
	-webkit-transition: ease-in 0.2s;
}
ul.submenu{
	width: 200px;
	background: #333;
	min-height: 80px;
	display: none;
	position: absolute;
}
ul.submenu li{
	list-style: none;
}
ul.submenu li a{
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-decoration: none;
	color: #FFFFFF;
}
ul.root > li:hover ul.submenu {
	display: block;
	margin: 10px;
	padding: 0px;
}
ul.submenu li:hover{
	background-color: #ccc;
}
ul.submenu1{
	width: 200px;
	background: #333;
	min-height: 80px;
	display: none;
	position: absolute;
}
ul.submenu1 li{
	list-style: none;
}
ul.submenu1 li a{
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-decoration: none;
	color: #FFFFFF;
}
ul.root > li:hover ul.submenu1 {
	display: block;
	margin: 10px;
	padding: 0px;
}
ul.submenu1 li:hover{
	background-color: #ccc;
}
ul.submenu2{
	width: 200px;
	background: #333;
	min-height: 80px;
	display: none;
	position: absolute;
}
ul.submenu2 li{
	list-style: none;
}
ul.submenu2 li a{
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-decoration: none;
	color: #FFFFFF;
}
ul.root > li:hover ul.submenu2 {
	display: block;
	margin: 10px;
	padding: 0px;
}
ul.submenu2 li:hover{
	background-color: #ccc;
}
ul.submenu3{
	width: 200px;
	background: #333;
	min-height: 80px;
	display: none;
	position: absolute;
}
ul.submenu3 li{
	list-style: none;
}
ul.submenu3 li a{
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-decoration: none;
	color: #FFFFFF;
}
ul.root > li:hover ul.submenu3 {
	display: block;
	margin: 10px;
	padding: 0px;
}
ul.submenu3 li:hover{
	background-color: #ccc;
}
.MENU{
	width: 1500px;
	height: 45px;
	background: #333;
	margin: 0px auto;
	padding: 0px;
}
.noidung{
	clear: left;
}
.noidung img{
	width: 1125px;
	height: auto;
	text-align: center;
}
.noidung h1{
	padding:  20px;
	text-align: center;
	font-size: 36px;
}
.left-content{
	width: 75%;
	//clear: left;
	float: left;
}
.right-content{
	width: 25%;
	//clear: left;
	float: right;
}
.left-content p{
	margin: 20px;
	font-size: 16px;
}
ul.link1 li{
	list-style: none;
	font-size: 20px;
}

ul.link1 li img{
	width: 281px;
	height: auto;
}
ul.link1 li a{
	text-decoration: none;
}
.setup h2{
	font-size: 18px;
}
.right-content h1{
	padding: 30px;
	font-size: 30px;
	text-align: center;
	color: #0000FF;
}
.right-content img{
	width: 360px;
	height: auto;
	padding: 20px;
}
.right-content a{
	font-size: 18px;
	float: right;
}
ul.goiy li{
	list-style: none;
	text-align: center;
}
ul.goiy li:hover{
	background-color: #ccc;
}
ul.goiy li a{
	text-decoration: none;
}